.new-tweet {
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'bungee';
}

.button-counter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  display: flex;
  flex-direction: row;
  color: dimgray;
  margin-top: 10px;
}

.button {
  color: #FFFFFF;
  background-color: #4056A1;
  margin-top: 10px;
}

.button:hover {
  box-shadow: 0 0 11px grey;
}

#tweet-text {
  color: dimgrey;
  background-color: blanchedalmond;
  width: 100%;
  border: none;
  border-bottom: 5px solid dimgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.new-tweet small {
  background-color: red;
  color: white;
}


@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 100%;
    margin-top: -425px;
    margin-right: -800px
  }
  
}