.new-tweet {
  display:flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  font-family: 'bungee';
}

.button-counter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  display: flex;
  flex-direction: row;
  color: dimgray;
  margin-top: 10px;
}

.button {
  color: #FFFFFF;
  background-color: #4056A1;
  margin-top: 10px;
}

#tweet-text {
  color: dimgrey;
  background-color: blanchedalmond;
  width: 100%;
  border: none;
  border-bottom: 5px solid dimgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.new-tweet small {
  /* visibility: hidden; */
  background-color: red;
  color: white;
}